.account {
  display: flex;
  align-items: center;
  gap: 24px;

  @include tablet {
    gap: 12px;
  }

  a {
    display: inline-block;
    transition: all 0.2s ease-in;
  }

  a:hover {
    background-color: #ededed;
  }
}

.account__search {
  @include mobile {
    display: none;
  }
}
.account__menu {
  display: none;
  display: flex;
  align-items: center;
  @include mobile {
    display: block;
  }
}
