.section-best {
}

.best__title-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;

  @include mobile {
    margin-bottom: 8px;
  }
}

.best__link {
  @include mobile {
    display: none;
  }
}
