.section-best {
}

.best__title-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}

.best__cards {
  // display: grid;
  // grid-template-columns: repeat(3, 1fr);
  // gap: 24px;
}
