.btn,
a.btn {
  padding: 8px;
  min-width: 184px;
  //   height: 40px;
  background: var(--white);
  text-align: center;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  text-transform: capitalize;
  color: var(--black);
  display: inline-block;
  transition: all 0.2s ease-in;

  a.btn:hover {
    background-color: #ededed;
  }
  &--small {
    min-width: unset;
    padding-left: 15px;
    padding-right: 15px;
  }

  &:hover {
    background: var(--neutral-grayededed);
  }

  @include mobile {
    padding: 8px 9px;
    min-width: unset;
  }
  &--mobile-wide {
    @include mobile {
      width: 100%;
      text-align: left;
    }
  }
}

.btn-outline {
  border: 1px solid var(--primary-primary-600);
  padding: 8px 16px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;

  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  text-transform: capitalize;
  text-align: center;
  color: var(--primary-primary-600);

  &:hover {
    color: var(--primary-primary-700);
  }
}
