.swiper {
  width: 100%;
  padding-bottom: 32px !important;
  @include mobile {
    padding-bottom: 20px;
  }
  .swiper-pagination-bullet {
    width: 14px;
    height: 14px;
    background-color: var(--neutral-grayadadad);
    opacity: 1;

    @include mobile {
      width: 8px;
      height: 8px;
    }
  }
  .swiper-pagination-bullet-active {
    background-color: var(--neutral-graydfdfdf);
    opacity: 1;
  }
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  margin-left: 8px !important;
  margin-right: 8px !important;
}

.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: 0 !important;
}
